:host /deep/ .card {
    background: #f5f5f570 !important;
    overflow-y: hidden !important;
  }
  
  :host /deep/ .main {
    display: flex; 
    height: 100vh; 
    align-items: center; 
    justify-content: center;
  }
  
  :host /deep/ .center {
    min-width: 500px;
    border-top: 5px solid #caefa8;
  }
  
  :host /deep/ .btn-login {
    margin: 0px;
    line-height: 0.1;
    width: 100%;
  }