.container-fluid {
	padding: 10px 10%;
}
form.course_form {
	margin: 0px 10%;
	padding: 0px 50px;
}
label {
	font-size: 14px;
	font-weight: 500;
}
.form-check.form-check-inline {
	margin-left: 20px;
}
.form-control-sm {
	height: 32px;
}
.btn-back {
	background: #F5F5F5;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0px 3px 0 rgba(0, 0, 0, 0.12) !important;
}
.btn {
  margin: 0px .375rem !important;
  word-wrap: break-word !important;
  white-space: normal !important;
  cursor: pointer !important;
  border: 0 !important;
  border-radius: .125rem !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  font-size: .81rem !important;
  outline: none !important;
}

.btn:hover {
  outline: 0 !important;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
