<div class="cart-container">
  <div class="card-cascade narrower">
    <div
      class="view view-cascade gradient-card-header blue-gradient narrower mx-4 mb-3 d-flex justify-content-between align-items-center">
      <div>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                [ngClass]="{active : displayMode === 'CARD'}"
                (click)="changeDisplayMode('CARD')">
          <i class="fa fa-th-large mt-0"></i>
        </button>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                [ngClass]="{active : displayMode === 'GRID'}"
                (click)="changeDisplayMode('GRID')">
          <i class="fa fa-columns mt-0"></i>
        </button>
      </div>
      <span class="white-text mx-3 weight600">Courses</span>
      <div>
        <button type="button" class="btn btn-schedule full-right" [routerLink]="['/velo-ecole/courses/new-course']">
          <i class="fa fa-plus mt-0"></i> Schedule New Course
        </button>
      </div>
    </div>
    <div class="px-4">
      <app-courses-card [courses]="courses$ | async" [hidden]="displayMode !== 'CARD'"
                            (deleteCourseEvent)="onDeleteCourse($event)"></app-courses-card>
      <app-courses-grid [courses]="courses$ | async" [hidden]="displayMode !== 'GRID'"
                            (deleteCourseEvent)="onDeleteCourse($event)"></app-courses-grid>
    </div>
  </div>
</div>