<footer class="footer_area">
                    <div class="footer_top">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="our_help_services ptb-80">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="help_service d-flex">
                                                    <div class="h_ser_icon">
                                                        <i class="zmdi zmdi-boat"></i>
                                                    </div>
                                                    <div class="h_ser_text">
                                                        <h3>Free Shipping</h3>
                                                        <p>Free Shipping in India</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="help_service d-flex justify-content-center">
                                                    <div class="h_ser_icon">
                                                        <i class="zmdi zmdi-shield-security"></i>
                                                    </div>
                                                    <div class="h_ser_text">
                                                        <h3>Money Guarentee</h3>
                                                        <p>Free Shipping in India</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="help_service d-flex justify-content-end">
                                                    <div class="h_ser_icon">
                                                        <i class="zmdi zmdi-phone-setting"></i>
                                                    </div>
                                                    <div class="h_ser_text">
                                                        <h3>Online Support</h3>
                                                        <p>Free Shipping in India</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="copyright_inner text-center">
                                        <p>Copyright © All Right Reserved </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
